[project]
name = "cafe-badminton-uploader"
version = "0.1.0"
description = "Upload videos to Cafe Badminton channel"
readme = "README.md"
requires-python = ">=3.13"
dependencies = []

[dependency-groups]
dev = [
    "ruff>=0.14.9",
]
